* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: lightskyblue;
  position: relative;
}

h1,
nav {
  display: inline-block;
  padding-bottom: 20px;
  width: 500px;
  text-align: left;
}

h1 {
  margin-top: 15px;
  margin-left: 50px;
  color: moccasin;
  font-size: 30px;
  font-family: "Tourney", cursive;
  transition: color 1s, text-shadow 1s;
}

h1:hover {
  color: moccasin;
  text-shadow: 0px 10px 10px moccasin;
}

nav {
  margin-left: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

a {
  text-decoration: none;
  margin: 20px;
  color: lightskyblue;
  transition: color 1s, text-shadow 1s;
}

a:hover {
  color: moccasin;
  text-shadow: 0px 10px 10px lightskyblue;
  cursor: pointer;
}

header {
  background-color: midnightblue;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  box-shadow: midnightblue 0px 40px 40px -7px;
  position: fixed;
  width: 100vw;
}

.hero {
  padding-top: 200px;
  padding-left: 50px;
  height: 100vh;
  text-align: left;
}

h2 {
  color: midnightblue;
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  width: 40vw;
  padding-bottom: 50px;
}

p {
  color: navy;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  width: 40vw;
}

img {
  object-position: right;
  object-fit: fill;
  margin-right: 50px;
  width: 40%;
  height: auto;
  float: right;
  margin-top: -450px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
